<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>coinEstate |  An Ethereum token community marketplace exchange for everyone</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="starter-template.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                       <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        </div>
                <li class="active">
                    <a class="navbar-brand" href="/about/index.html">coinEstate</a>
                      </li>
                        <li>
                         <a href="https://coinestate.somidax.net/">Home</a>
                        </li>
                        <li>
                            <a href="./about/index.html"><i class="fa fa-info-circle"></i> About coinEstate</a>
                        </li>
                        <li>
                            <a href="mailto:coinestate@somidax.net?subject=Assistance Needed">i class="fa fa-info-circle">Contact</a>
                        </li>
                        <li>
                        <a href="https://marketplace.somidax.net/collections"><i class="fa fa-file-text"></i> shop onLine</a>
                        </li>
                        <li>
                        <a href="https://github.com/somidax/baseHub/issues/new"><i class="fa fa-file-text"></i> Token Listing</a>
                        </li>
                        <li>
                        <a href="https://tradewallet.somidax.net"><i class="fa fa-info-circle"></i> Trade BTC</a>
                        </li>
                        <li></li>
                        </ul>
                      </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="tokensDropdown"></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">                    
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                    <li style="display: none;" class="dropdown" id="helpDropdown"></li>
                    <li class="dropdown" id="tokenGuidesDropdown"></li>
                    <li class="dropdown" id="connection"></li>
                    <li class="dropdown" id="languages"></li>
                    <li class="dropdown" id="accounts"></li>
                </ul>
            </div>    
            <h1>WELCOME TO coinEstate</h1>
            <h3>Decentralized..</h3>
            <h3>Token Marketplace</h3> 
            <p></p>
        </div>
        <div class="container">
            <div class="col-md-5">
                <div class="row-container"> 
                    <div class="row-container">
                        <div class="row-header trn">volume</div>
                        <input id="myInput" onkeyup="myFunction()" placeholder="Ethereum tokens search ..." title="Type in a Token name" type="text">
                        <div class="row-box table-header">
                            <table class="table table-condensed table-borderless">
                                <tbody>
                                    <tr>
                                        <th class="trn">pair</th>
                                        <th class="align-right"><span class="trn">bid</span></th>
                                        <th class="align-right padding-right"><span class="trn">offer</span></th>
                                        <th class="trn align-right">daily</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="myTrades"></div>
                                <div role="tabpanel" class="tab-pane" id="myOrders"></div>
                            </div>
                        </div>
                        <div id="volume"></div>
                        <div class="row-box nav-header">
                            <ul class="nav nav-tabs two columns" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#myTrades" aria-controls="myTrades" role="tab" data-toggle="tab" class="trn">trades</a>
                                </li>
                                <li role="presentation">
                                    <a href="#myOrders" aria-controls="myOrders" role="tab" data-toggle="tab" class="trn">orders</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row-header trn">balance</div>
                        <div class="row-header trn">my_transactions</div>
                        <div class="row-box nav-header">
                            <ul class="nav nav-tabs three columns" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#deposit" aria-controls="deposit" role="tab" data-toggle="tab" class="trn">deposit</a>
                                </li>
                                <li role="presentation">
                                    <a href="#withdraw" aria-controls="withdraw" role="tab" data-toggle="tab" class="trn">withdraw</a>
                                </li>
                                <li role="presentation">
                                    <a href="#transfer" aria-controls="transfer" role="tab" data-toggle="tab" class="trn">transfer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row-box height4">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="deposit"></div>
                                <div role="tabpanel" class="tab-pane" id="withdraw"></div>
                                <div role="tabpanel" class="tab-pane" id="transfer"></div>
                            </div>
                        </div>
                        <div class="row-box table-header">
                            <table class="table table-condensed table-borderless">
                                <tbody>
                                    <tr>
                                        <th class="trn">token</th>
                                        <th class="trn">wallet</th>
                                        <th class="trn">balance</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row-container">
                    <div class="row-header trn">price_chart</div>
                    <div class="row-box nav-header">
                        <ul class="nav nav-tabs two columns" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#chart" aria-controls="chartPrice" role="tab" data-toggle="tab" class="trn">price</a>
                            </li>
                            <li role="presentation">
                                <a href="#chartDepth" aria-controls="chartDepth" role="tab" data-toggle="tab" class="trn">depth</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row-box height2">
                        <div class="tab-content" style="height: 100%;">
                            <div role="tabpanel" class="tab-pane active" id="chartPrice" style="height: 100%; width: 100%; background: #00796b;"></div>
                            <div role="tabpanel" class="tab-pane" id="chartDepth" style="height: 100%; width: 100%; background: #00796b;"></div>
                        </div>
                    </div>
                    <div class="row-header trn">new_order</div>
                    <div class="row-box nav-header">
                        <ul class="nav nav-tabs two columns" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#buy" aria-controls="buy" role="tab" data-toggle="tab" class="trn">buy</a>
                            </li>
                            <li role="presentation">
                                <a href="#sell" aria-controls="sell" role="tab" data-toggle="tab" class="trn">sell</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row-box padding">
                        <input type="hidden" id="tokenAddr" value="<%= selectedToken.addr %>">
                        <input type="hidden" id="baseAddr" value="<%= selectedBase.addr %>">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="buy"></div>
                            <div role="tabpanel" class="tab-pane" id="sell"></div>
                        </div>
                    </div>
                    <div class="row-header trn">order_book</div>
                    <div id="orderBook"></div>
                    <div class="row-header">
                        <span class="trn">trades</span>
                    </div>
                    <div id="trades"></div>
                </div>
            </div>
            <!-- /.container -->
            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
            <meta charset="utf-8">
            <meta name="description" content="coinEstate -  An Ethereum token community marketplace exchange for everyone">
            <meta name="keywords" content="Decentralized cryptocurrency exchange, Ethereum, ETH, SMDX">
            <meta property="og:title" content="coinEstate |  An Ethereum token community marketplace exchange for everyone">
            <meta property="og:description" content="coinEstate |  An Ethereum token community marketplace exchange for everyone">
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://coinestate.somidax.net/">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="/images/favicon.ico" rel="icon">
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/font-awesome.min.css" rel="stylesheet">
            <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
            <link href="/css/alertify.min.css" rel="stylesheet">
            <link href="/css/alertify-bootstrap.min.css" rel="stylesheet">
            <link href="/css/coinEstatestyle.css" rel="stylesheet">
            <link href="/css/small.css" rel="stylesheet" media="only screen and (max-device-width: 480px)">
            <title>coinEstate |  An Ethereum token community marketplace exchange for everyone</title>             
            <div class="container-fluid">
                <div class="row" style="grid-row-gap: 30;">
                    <center>
</center>
                    <section class="features-list" style="text-transform: uppercase;">
    <div class="row">
</div>
    <p>.</p>
    </div>
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_9797a"></div>
 <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
 new TradingView.widget({
widget.onChartReady(function() {
widget.createButton()
.attr('title', "coinEstate button tooltip")
.on('click', function (e) { alert("coinEstate button pressed!"); })
.append($('coinEstate button caption'));
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/COINESTATE-SMDX/" rel="noopener" target="_blank"><span class="blue-text">SMDX</span> <span class="blue-text">chart</span> by TradingView</a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "COINESTATE:SMDX",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": true,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "hotlist": true,
  "calendar": true,
  "news": [
    "stocktwits",
    "headlines"
  ],
  "container_id": "tradingview_b8085"
}
var widget = new TradingView.widget({
"width": 980,
"height": 610,,
symbol: 'SMDX',
interval: 'D',
toolbar_bg: '#f4f7f9',
allow_symbol_change: true,
container_id: "tv_chart_container",
datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
library_path: "about/public/charting-library/",
locale: "en",
drawings_access: { type: 'black', tools: [ { name: "Regression Trend" } ] },
disabled_features: ["use_localstorage_for_settings", "volume_force_overlay"],
enabled_features: ["move_logo_to_main_pane"],
overrides: {
"mainSeriesProperties.style": 0,
"symbolWatermarkProperties.color" : "#944",
"volumePaneSize": "tiny"
},
studies_overrides: {
"bollinger bands.median.color": "#33FF88",
"bollinger bands.upper.linewidth": 7
},
debug: true,
time_frames: [
{ text: "50y", resolution: "6M" },
{ text: "1d", resolution: "5" },
],
charts_storage_url: 'http://saveload.tradingview.com',
client_id: 'tradingview.com',
user_id: 'public_user',
favorites: {
intervals: ["1D", "3D", "3W", "W", "M"],
chartTypes: ["Area", "Line"]
}
widget.onShortcut("alt+s", function() {
widget.executeActionById("symbolSearch");
});
{
supports_search: true,
supports_group_request: true,
supports_marks: true,
exchanges: [
{value: "", name: "coinEstate", desc: ""},
{value: "", name: "", desc: ""},
{value: "", name: "", desc: ""}
],
symbolsTypes: [
{name: "All types", value: ""},
{name: "Stock", value: "stock"},
{name: "Index", value: "index"}
],
supportedResolutions: [ "1", "15", "30", "60", "D", "2D", "3D", "W", "3W", "M", '6M' ]
};
})
],
"container_id": "tradingview_702c9"
}
{
id: [array of ids],
time: [array of times],
color: [array of colors],
text: [array of texts],
label: [array of labels],
labelFontColor: [array of label font colors],
minSize: [array of minSizes],
}
news_provider: {
is_news_generic: true,
get_news: function(symbol, callback) {
callback([
{
title: 'It is news for symbol ' + symbol,
shortDescription: 'Short description of the news item',
fullDescription: 'Full description of the news item',
published: new Date().valueOf(),
source: 'My own news source',
link: 'https://min-api.cryptocompare.com/data/news/?lang=PT&extraParams=coinEstate.somidax.net/'
},
{
title: 'Another news for symbol ' + symbol,
shortDescription: 'Short description of the news item',
fullDescription: 'Full description of the news item. Very long long long long long long long long text.',
published: new Date().valueOf(),
source: 'https://www.tradingview.com/',
}
]);
}
}
);
  ],
  "container_id": "tradingview_9797a"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->    
    <p></p>
    <b>Cryptocurrency exchange as it should be.  </b>
    <p>.</p>
    <div class="col-md-4 col-sm-6">
        <h4><i class="fa fa-money" aria-hidden="true"></i><br><blockquote>
                <h4 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="28" medium-editor-index="d633718b-8eb5-18ce-dead-663a6ffc3c3e" data-placeholder="Type your text" data-medium-focused="true"><b>Trade Ethereum and any $ETH token.. $SMDX</b></h4>
            </blockquote></h4>
        It is unlimited, you can trade any Ethereum based tokens here.
    </div>
    <p style="background-image: url('logo.jpg');"></p>
    <p>.</p>
    <h1></h1>
    <p></p>
    <div class="col-md-4 col-sm-6">
        <h4><i class="fa fa-globe" aria-hidden="true"></i><b> Ethereum exchange</b></h4>
        coinEstate is powered by Ethereum smart contract AS you interact with this page.
    </div>
    <div class="col-md-4 col-sm-6">
        <h4><b><i class="fa fa-shield" aria-hidden="true"></i> Censorship protection and no registration</b></h4>
        coinEstate has strong censorship protection due to its decentralized essence.
    </div>
    <div class="col-md-4 col-sm-6">
        <h4><i class="fa fa-search" aria-hidden="true"></i></h4>
        <b> Transparent with blockchain</b>
        Every single trade and transaction can be observed in 
        <a href="https://etherscan.io/address/0x7e8539d1e5cb91d63e46b8e188403b3f262a949b" target="_blank">Ethereum blockchain</a>.
    </div>
    <p class="text-justify bg-info show" data-toggle="popover">.<p>.</p></p>
    <h4><i class="fa fa-heart-o" aria-hidden="true"></i><b> Smart contract powered</b></h4>
</section>
                    <!-- Address -->
                    <div class="modal fade" id="accountModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title trn">import_account</h4>
                  </div>
                  <div class="modal-body">
                     <form>
                        <div class="form-group">
                           <label for="accountAddr" class="trn">address</label>
                           <input type="text" class="form-control" id="accountAddr" placeholder="0x..." />
                        </div>
                        <div id="pkDiv">
                           <div class="form-group">
                              <label for="accountPk" class="trn">private_key</label>
                              <input type="text" class="form-control" id="accountPk" placeholder="0x..." />
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default trn" data-dismiss="modal">cancel</button>
                     <button type="button" class="btn btn-primary trn" id="accountSubmit">import_account</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Buy -->
         <div class="modal fade" id="buyCrossModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title trn">buy</h4>
                  </div>
                  <div class="modal-body">
                     <form>
                        <div class="form-group">
                           <label for="buyCrossDesc" class="trn">order</label>
                           <div id="buyCrossDesc"></div>
                        </div>
                        <div class="form-group">
                           <label for="buyCrossAmount"><span class="trn">amount_to_buy</span> (<span class="buyCrossToken"></span>)</label>
                           <input type="text" class="form-control trn" id="buyCrossAmount" placeholder="amount" />
                        </div>
                        <div class="form-group">
                           <label for="buyCrossBaseAmount"><span class="buyCrossBase"></span></label>
                           <input type="text" class="form-control trn" id="buyCrossBaseAmount" placeholder="amount" />
                        </div>
                        <div class="form-group">
                           <label for="buyCrossFee"><span class="trn">fee</span> (<span class="buyCrossBase"></span>)</label>
                           <input type="text" class="form-control trn" id="buyCrossFee" disabled="disabled" />
                        </div>
                     </form>
                  </div>
                  <input type="hidden" id="buyCrossOrder" />
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary trn" id="buyCrossSubmit">buy</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Sell -->
         <div class="modal fade" id="sellCrossModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title trn">sell</h4>
                  </div>
                  <div class="modal-body">
                     <form>
                        <div class="form-group">
                           <label for="sellCrossDesc" class="trn">order</label>
                           <div id="sellCrossDesc"></div>
                        </div>
                        <div class="form-group">
                           <label for="sellCrossAmount"><span class="trn">amount_to_sell</span> (<span class="sellCrossToken"></span>)</label>
                           <input type="text" class="form-control trn" id="sellCrossAmount" placeholder="amount" />
                        </div>
                        <div class="form-group">
                           <label for="sellCrossBaseAmount"><span class="sellCrossBase"></span></label>
                           <input type="text" class="form-control trn" id="sellCrossBaseAmount" placeholder="amount" />
                        </div>
                        <div class="form-group">
                           <label for="sellCrossFee"><span class="trn">fee</span> (<span class="sellCrossToken"></span>)</label>
                           <input type="text" class="form-control trn" id="sellCrossFee" disabled="disabled" />
                        </div>
                     </form>
                  </div>
                  <input type="hidden" id="sellCrossOrder" />
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary trn" id="sellCrossSubmit">sell</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Other token -->
         <div class="modal fade" id="otherTokenModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title trn">other_token</h4>
                  </div>
                  <div class="modal-body">
                     <form>
                        <div class="form-group">
                           <label for="otherTokenAddr" class="trn">address</label>
                           <input type="text" class="form-control" id="otherTokenAddr" placeholder="0x..." />
                        </div>
                        <div class="form-group">
                           <label for="otherTokenName" class="trn">name</label>
                           <input type="text" class="form-control" id="otherTokenName" placeholder="XYZ" />
                        </div>
                        <div class="form-group">
                           <label for="otherTokenDecimals" class="trn">decimals</label>
                           <input type="text" class="form-control" id="otherTokenDecimals" value="18" />
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default trn" data-dismiss="modal">cancel</button>
                     <button type="button" class="btn btn-primary trn" id="otherTokenSubmit">go</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Other base -->
         <div class="modal fade" id="otherBaseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title trn">other_base</h4>
                  </div>
                  <div class="modal-body">
                     <form>
                        <div class="form-group">
                           <label for="otherBaseAddr" class="trn">address</label>
                           <input type="text" class="form-control" id="otherBaseAddr" placeholder="0x..." />
                        </div>
                        <div class="form-group">
                           <label for="otherBaseName" class="trn">name</label>
                           <input type="text" class="form-control" id="otherBaseName" placeholder="XYZ" />
                        </div>
                        <div class="form-group">
                           <label for="otherBaseDecimals" class="trn">decimals</label>
                           <input type="text" class="form-control" id="otherBaseDecimals" value="18" />
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default trn" data-dismiss="modal">cancel</button>
                     <button type="button" class="btn btn-primary trn" id="otherBaseSubmit">go</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Token -->
         <div class="modal fade" id="tokenModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">
                        <div id="tokenGuideTitle"></div>
                     </h4>
                  </div>
                  <div class="modal-body">
                     <div id="tokenGuideDetails"></div>
                     <div id="tokenGuideBody"></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Help -->
         <div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-body">
                     <div id="helpBody"></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Screencast -->
         <div class="modal fade" id="screencastModal" tabindex="-1" role="dialog">
            <div class="modal-dialog large" role="document">
               <div class="modal-content">
                  <div class="modal-body">
                     <div id="screencastBody"></div>
                  </div>
               </div>
            </div>
         </div>
                    <!--   FOOTER START================== -->
                    <footer class="footer"> 
                        <div class="container">
                            <p>.</p>
                            <p class="col-md-4 col-sm-6">
                            Ethereum smart contract is a heart of coinEstate, it is stored in blockchain.</p>
                            <p>.<div id="carousel2" class="carousel slide" data-ride="carousel"> 
                                    <!-- Indicators -->                                     

                                    <ol class="carousel-indicators"> 
                                        <li data-target="#carousel2" data-slide-to="0" class="active"></li>                                         

                                        <li data-target="#carousel2" data-slide-to="1"></li>                                         

                                        <li data-target="#carousel2" data-slide-to="2"></li>                                         
                                    </ol>                                     

                                    <!-- Wrapper for slides -->                                     

                                    <div class="carousel-inner"> 
                                        <div class="item active"> 
                                            <img src="http://pinegrow.com/placeholders/img17.jpg" alt="" />
                                            <p>.</p> 
                                            <div class="carousel-caption"> 
                                                <h3>Ethereum powered</h3> 
                                                <p>reEngineered to give complete decentralization to everyone.</p> 
                                            </div>                                             
                                        </div>                                         

                                        <div class="item"> 
                                            <img src="http://pinegrow.com/placeholders/img12.jpg" alt="" /> 
                                            <div class="carousel-caption"> 
                                                <h3>A home for all season</h3> 
                                                <p>..impact your will, exceed your expectations and of those around you!</p> 
                                            </div>                                             
                                        </div>                                         

                                        <div class="item"> 
                                            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" /> 
                                            <div class="carousel-caption"> 
                                                <h3>We are united and stronger</h3> 
                                                <p>.given value to humanity is whats drives our evolution</p> 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     

                                    <!-- Controls -->                                     

                                    <a class="left carousel-control" href="#carousel2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> 
                                    <a class="right carousel-control" href="#carousel2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> 
                                </div></p>
                            <div class="row">
                                <div class="col-sm-3"> 
                                    <h4 target="_blank" href="#"> <i class="fa fa-money" aria-hidden="true"> </i> Sponsored Content </h4> <div class="category"> 
                                        <ul></ul>
                                    </div>                                     
                                    <div class="embed-responsive embed-responsive-16by9"> 
                                        <iframe class="embed-responsive-item" src="https://youtu.be/ldKIj09Ko2U?t=138"></iframe>                                         
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <h4 class="title">Know more </h4>
                                    <span class="acount-icon"> <a target="_blank" href="https://www.ethereum.org/"> <i class="fa fa-money" aria-hidden="true"> </i> Ethereum &amp; tokens </a> <a target="_blank" href="https://en.wikipedia.org/wiki/Smart_contract"> <i class="fa fa-cart-plus" aria-hidden="true"> </i> Smart contracts </a> <a target="_blank" href="https://etherscan.io/address/0x983293eb01740d9788bbdcfe3a29d1bf2fdfc47d"> <i class="fa fa-file-code-o" aria-hidden="true"> </i> coinEstate smart contract </a> </span> 
                                </div>                                 
                                <div class="col-sm-4">
                                    <h4 class="title"> <i class="fa fa-file-text-o" aria-hidden="true"></i> DISCLAIMER. NO WARRANTY. HIGH RISKS. </h4>
                                    <h4 class="title"></h4>
                                    <p> <a href="https://play.google.com/store/apps/details?id=com.somidax.chat" target="_blank">
                                            <img alt="Chat on somidax Media-App" src="https://img.shields.io/badge/chat%20on-somidax%20Media--App-brightgreen.svg">
                                        </a> <a href="https://www.reddit.com/user/somidax" target="_blank">
                                            <img alt="Join us on Reddit" src="https://img.shields.io/badge/reddit-somidax-red.svg">
                                        </a> </p>
                                    <p style="color: #f00; font-weight: bold;">URL &amp; Status</p>
                                    <p style="font-size: 12px;">
                        This is <img alt="coinEstate" src="https://img.shields.io/badge/coinEstate%20Approved%20url%3A-https%3A%2F%2Fcoinestate.somidax.net%2F-green.svg". Bookmark it once and use the bookmark. </p>
                                    <p style="font-size: 12px;">
                        This interface is a fork of <a href="https://etherdelta.github.io">etherDelta</a> with a ton of improvements including a much faster order processing system.
                        It interacts with omnidex's revamped API and EtherDelta's original contract. </p>
                                    <p style="color: #f00; font-weight: bold;">How to Start Trading</p>
                                    <p style="font-size: 12px;"> <strong>Use the Deposit form (upper left) to put your funds (ETH and tokens) on the exchange.</strong> Do not send your tokens directly to the smart contract, or they will be lost and unrecoverable. Omnidex cannot help you with funds incorrectly deposited to the trading smart contract. </p>
                                    <p style="color: #f00; font-weight: bold;">coinEstate Disclaimer</p>
                                    <p style="font-size: 12px;">
                         coinEstate is a decentralized trading platform that lets
                        you trade Ether and Ethereum-based tokens directly with other users.
                        You are responsible for your own account, funds, and private keys.
                        You are responsible for your own trading decisions, and the details
                        and mechanics of the tokens you trade.
                        coinEstate is not responsible for your decisions, actions, or losses that result from
                        using it. coinEstate makes no guarantee about the tokens that you trade using
                        coinEstate. coinEstate does not hold your funds and does not offer refunds.
                        While the information contained on coinEstate is periodically updated, no guarantee is given
                        that the information provided on coinEstate is correct, complete, or up-to-date.
                        By using coinEstate, you acknowledge this and agree to these terms. </p>
                                </div>                                 
                                <div class="col-sm-3">
                                    <h4 class="title">coinEstate features </h4>
                                    <p>what we offer?</p>
                                    <ul class="payment">
                                        <li>
                                            <i aria-hidden="true" class="fa fa-globe"> </i> Decentralized.
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="fa fa-file-code-o"> </i> Based on ETH smart contract.
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="fa fa-money"> </i> No limits, no barriers.
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="fa fa-bullhorn"> </i> No registration, no censorship.
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="fa fa-desktop"> </i> Works in browser on any device and OS.
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="fa fa-bank">Build-in ETH and token wallets. </i>
                                        </li>
                                        <li>
                                            <i aria-hidden="true" class="fa fa-thumbs-o-up">free somidax media-App for token community engagement</i>
                                        </li>
                                    </ul>
                                </div>                                 
                            </div>                             
                            <hr> 
                            <div class="row text-center" style="background-color: #4ccd14;">© 2018  
                                <a href="https://coinestate.somidax.net/">coinEstate</a>.   An Ethereum token community marketplace exchange for everyone. 
                                <p>&nbsp;<a href="https://marketplace.somidax.net//" target="_blank">MARKETPLACE</a> | <a href="https://tradewallet.somidax.net/" target="_blank">TRADEWALLET</a> | <a href="https://media-app.somidax.net/" target="_blank">MEDIA-APP</a> | <a href="https://www.somidax.net//" target="_blank">SOMIDAX FOUNDATION</a></p>
                            </div>                             
                        </div>
                    </footer>
                    <script>
         function myFunction() {
           var input, filter, table, tr, td, i;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("volume");
           tr = table.getElementsByTagName("tr");
           for (i = 0; i < tr.length; i++) {
             td = tr[i].getElementsByTagName("td")[0];
             if (td) {
               if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                 tr[i].style.display = "";
               } else {
                 tr[i].style.display = "none";
               }
             }
           }
         }
      </script>
                    <script src="http://www.gstatic.com/charts/loader.js"></script>
                    <script>google.charts.load('current', {packages: ['corechart', 'line']});</script>
                    <script src="/js/jquery-1.11.1.min.js"></script>
                    <script src="/js/jquery.translate.js"></script>
                    <script src="/js/bootstrap.min.js"></script>
                    <script src="/js/alertify.min.js"></script>
                    <script src="/js/ejs_production.js"></script>
                    <script src="/js/bundle.js"></script>
                    <script src="script.js"></script>
                    <script src="/js/jquery-1.11.1.min.js"></script>
                    <script src="/js/jquery.translate.js"></script>
                    <script src="/js/bootstrap.min.js"></script>
                    <script src="/js/alertify.min.js"></script>
                    <script src="/js/ejs_production.js"></script>
                    <script src="/js/chrome-u2f-api.js"></script>
                    <script src="/js/ledger.min.js"></script>
                    <script src="/js/main.js"></script>
                    <script src="/about/public/charting_library.min.js"></script>
                    <script src="/about/public/datafeeds/udf/dist/polyfills.js"></script>
                    <script src="/about/public/datafeeds/udf/dist/bundle.js"></script>
                    <script charset="utf-8" src="/somidaxApp-cc/js.php"></script>
                    <link type="text/css" rel="stylesheet" media="all" href="/somidaxApp-cc/css.php">
                    <script>
            <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-99624091-1', 'auto');
         ga('send', 'pageview');
      </script>
                    <script>
    $(function() {
    $('[data-toggle="popover"]').popover();
})
</script>
            </body>
</html>
