<!DOCTYPE html>
<html lang="en" wp-site wp-site-is-master-page>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="coinEstate |  An Ethereum token community marketplace exchange for everyone">
        <meta name="keywords" content="Decentralized cryptocurrency exchange, Ethereum, ETH, coinEstate, SOMIDAX">
        <meta property="og:title" content="coinEstate |  An Ethereum token community marketplace exchange for everyone" />
        <meta property="og:description" content="coinEstate - Decentralized cryptocurrency exchange for ETH, SMDX and other tokens" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://coinestate.somidax.net/" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/images/favicon.ico" rel="icon" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="/css/alertify.min.css" rel="stylesheet" />
        <link href="/css/alertify-bootstrap.min.css" rel="stylesheet" />
        <link href="/css/coinEstate_id.css" rel="stylesheet" />
        <link href="/css/coinEstate-style.css" rel="stylesheet" />
        <link href="/css/small.css" rel="stylesheet" media="only screen and (max-device-width: 580px)" />
        <title>coinEstate |  An Ethereum token community marketplace exchange for everyone</title>
    </head>
    <body>
        <p>.</p> 
        <p>.</p>
        <h1><h1>WELCOME TO coinEstate</h1>Decentralized Token Marketplace</h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <script>
         function myFunction() {
           var input, filter, table, tr, td, i;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("volume");
           tr = table.getElementsByTagName("tr");
           for (i = 0; i < tr.length; i++) {
             td = tr[i].getElementsByTagName("td")[0];
             if (td) {
               if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                 tr[i].style.display = "";
               } else {
                 tr[i].style.display = "true";
               }
             }
           }
         }
      </script>
                    <script src="//www.gstatic.com/charts/loader.js" type="text/javascript"></script>
                    <script>google.charts.load('current', {packages: ['corechart', 'line']});</script>
                    <script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
                    <script src="/js/jquery.translate.js" type="text/javascript"></script>
                    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
                    <script src="/js/alertify.min.js" type="text/javascript"></script>
                    <script src="/js/ejs_production.js" type="text/javascript"></script>
                    <script src="/js/bundle.js" type="text/javascript"></script>
                    <script src="/scripts/script.js" type="text/javascript"></script>
                    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-99624091-1', 'auto');
         ga('send', 'pageview');
      </script>
                    <head>
                        <meta charset="utf-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="description" content="">
                        <meta name="author" content="">
                        <title>coinEstate |  An Ethereum token community marketplace exchange for everyone</title>
                        <!-- Bootstrap core CSS -->
                        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
                        <!-- Custom styles for this template -->
                        <link href="starter-template.css" rel="stylesheet">
                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
                    </head>
                    <body>
                        <nav class="navbar navbar-inverse navbar-fixed-top">
                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active">
                                            <a href="/images/logo.png" rel="icon">coinEstate</a>
                                        </li>
                                        <li>
                                            <a href="https://coinestate.somidax.net/">Home</a>
                                        </li>
                                        <li>
                                            <a href="./about/index.html"><i class="fa fa-info-circle"></i> About coinEstate</a>
                                        </li>
                                        <li>
                                            <a href="mailto:coinestate@somidax.net?subject=Assistance Needed"><i class="fa fa-info-circle"></i> Contact</a>
                                        </li>
                                        <li>
                                            <a href="https://marketplace.somidax.net/collections"><i class="fa fa-file-text"></i> shop onLine</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/somidax/baseHub/issues/new"><i class="fa fa-file-text"></i> Token Listing</a>
                                        </li>
                                        <li>
                                            <a href="https://tradewallet.somidax.net"><i class="fa fa-info-circle"></i> Trade BTC</a>
                                        </li>
                                        <li>
                        </nav>
                        <div class="container">
</div>
                        <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
                <!-- Bootstrap core JavaScript
    ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="bootstrap/js/bootstrap.min.js"></script>
                <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
                <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
                <meta charset="utf-8">
                <meta name="description" content="coinEstate -  An Ethereum token community marketplace exchange for everyone">
                <meta name="keywords" content="Decentralized cryptocurrency exchange, Ethereum, ETH, SMDX">
                <meta property="og:title" content="coinEstate |  An Ethereum token community marketplace exchange for everyone">
                <meta property="og:description" content="coinEstate |  An Ethereum token community marketplace exchange for everyone">
                <meta property="og:type" content="website">
                <meta property="og:url" content="https://coinestate.somidax.net/">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link href="/images/favicon.ico" rel="icon">
                <link href="/css/bootstrap.min.css" rel="stylesheet">
                <link href="/css/font-awesome.min.css" rel="stylesheet">
                <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
                <link href="/css/alertify.min.css" rel="stylesheet">
                <link href="/css/alertify-bootstrap.min.css" rel="stylesheet">
                <link href="/css/coinEstatestyle.css" rel="stylesheet">
                <link href="/css/small.css" rel="stylesheet" media="only screen and (max-device-width: 480px)">
                <title>coinEstate |  An Ethereum token community marketplace exchange for everyone</title>                 
                <div class="container-fluid">
                    <div class="row" style="grid-row-gap: 30;">
                        <center>
</center>
                    </div>                     
                    <section class="features-list" style="text-transform: lowercase;">
                        <div class="row">
</div>
                        <p></p>
                        <p></p>
                        <b> </b>
                        <p>.</p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row-container">
                                       
                                        <!-- Styles -->
<style>
#chartdiv {
	width	: 100%;
	height	: 500px;
}
										
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 40,
    "marginLeft": 40,
    "autoMarginOffset": 20,
    "mouseWheelZoomEnabled":true,
    "dataDateFormat": "YYYY-MM-DD",
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0,
        "position": "left",
        "ignoreAxisWidth":true
    }],
    "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
    },
    "graphs": [{
        "id": "g1",
        "balloon":{
          "drop":true,
          "adjustBorderColor":false,
          "color":"#ffffff"
        },
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "title": "red line",
        "useLineColorForBulletBorder": true,
        "valueField": "value",
        "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
    }],
    "chartScrollbar": {
        "graph": "g1",
        "oppositeAxis":false,
        "offset":30,
        "scrollbarHeight": 80,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount":true,
        "color":"#AAAAAA"
    },
    "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha":1,
        "cursorColor":"#258cbb",
        "limitToGraph":"g1",
        "valueLineAlpha":0.2,
        "valueZoomable":true
    },
    "valueScrollbar":{
      "oppositeAxis":false,
      "offset":50,
      "scrollbarHeight":10
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    },
    "dataProvider": [{
        "date": "2012-07-27",
        "value": 13
    }, {
        "date": "2012-07-28",
        "value": 11
    }, {
        "date": "2012-07-29",
        "value": 15
    }, {
        "date": "2012-07-30",
        "value": 16
    }, {
        "date": "2012-07-31",
        "value": 18
    }, {
        "date": "2012-08-01",
        "value": 13
    }, {
        "date": "2012-08-02",
        "value": 22
    }, {
        "date": "2012-08-03",
        "value": 23
    }, {
        "date": "2012-08-04",
        "value": 20
    }, {
        "date": "2012-08-05",
        "value": 17
    }, {
        "date": "2012-08-06",
        "value": 16
    }, {
        "date": "2012-08-07",
        "value": 18
    }, {
        "date": "2012-08-08",
        "value": 21
    }, {
        "date": "2012-08-09",
        "value": 26
    }, {
        "date": "2012-08-10",
        "value": 24
    }, {
        "date": "2012-08-11",
        "value": 29
    }, {
        "date": "2012-08-12",
        "value": 32
    }, {
        "date": "2012-08-13",
        "value": 18
    }, {
        "date": "2012-08-14",
        "value": 24
    }, {
        "date": "2012-08-15",
        "value": 22
    }, {
        "date": "2012-08-16",
        "value": 18
    }, {
        "date": "2012-08-17",
        "value": 19
    }, {
        "date": "2012-08-18",
        "value": 14
    }, {
        "date": "2012-08-19",
        "value": 15
    }, {
        "date": "2012-08-20",
        "value": 12
    }, {
        "date": "2012-08-21",
        "value": 8
    }, {
        "date": "2012-08-22",
        "value": 9
    }, {
        "date": "2012-08-23",
        "value": 8
    }, {
        "date": "2012-08-24",
        "value": 7
    }, {
        "date": "2012-08-25",
        "value": 5
    }, {
        "date": "2012-08-26",
        "value": 11
    }, {
        "date": "2012-08-27",
        "value": 13
    }, {
        "date": "2012-08-28",
        "value": 18
    }, {
        "date": "2012-08-29",
        "value": 20
    }, {
        "date": "2012-08-30",
        "value": 29
    }, {
        "date": "2012-08-31",
        "value": 33
    }, {
        "date": "2012-09-01",
        "value": 42
    }, {
        "date": "2012-09-02",
        "value": 35
    }, {
        "date": "2012-09-03",
        "value": 31
    }, {
        "date": "2012-09-04",
        "value": 47
    }, {
        "date": "2012-09-05",
        "value": 52
    }, {
        "date": "2012-09-06",
        "value": 46
    }, {
        "date": "2012-09-07",
        "value": 41
    }, {
        "date": "2012-09-08",
        "value": 43
    }, {
        "date": "2012-09-09",
        "value": 40
    }, {
        "date": "2012-09-10",
        "value": 39
    }, {
        "date": "2012-09-11",
        "value": 34
    }, {
        "date": "2012-09-12",
        "value": 29
    }, {
        "date": "2012-09-13",
        "value": 34
    }, {
        "date": "2012-09-14",
        "value": 37
    }, {
        "date": "2012-09-15",
        "value": 42
    }, {
        "date": "2012-09-16",
        "value": 49
    }, {
        "date": "2012-09-17",
        "value": 46
    }, {
        "date": "2012-09-18",
        "value": 47
    }, {
        "date": "2012-09-19",
        "value": 55
    }, {
        "date": "2012-09-20",
        "value": 59
    }, {
        "date": "2012-09-21",
        "value": 58
    }, {
        "date": "2012-09-22",
        "value": 57
    }, {
        "date": "2012-09-23",
        "value": 61
    }, {
        "date": "2012-09-24",
        "value": 59
    }, {
        "date": "2012-09-25",
        "value": 67
    }, {
        "date": "2012-09-26",
        "value": 65
    }, {
        "date": "2012-09-27",
        "value": 61
    }, {
        "date": "2012-09-28",
        "value": 66
    }, {
        "date": "2012-09-29",
        "value": 69
    }, {
        "date": "2012-09-30",
        "value": 71
    }, {
        "date": "2012-10-01",
        "value": 67
    }, {
        "date": "2012-10-02",
        "value": 63
    }, {
        "date": "2012-10-03",
        "value": 46
    }, {
        "date": "2012-10-04",
        "value": 32
    }, {
        "date": "2012-10-05",
        "value": 21
    }, {
        "date": "2012-10-06",
        "value": 18
    }, {
        "date": "2012-10-07",
        "value": 21
    }, {
        "date": "2012-10-08",
        "value": 28
    }, {
        "date": "2012-10-09",
        "value": 27
    }, {
        "date": "2012-10-10",
        "value": 36
    }, {
        "date": "2012-10-11",
        "value": 33
    }, {
        "date": "2012-10-12",
        "value": 31
    }, {
        "date": "2012-10-13",
        "value": 30
    }, {
        "date": "2012-10-14",
        "value": 34
    }, {
        "date": "2012-10-15",
        "value": 38
    }, {
        "date": "2012-10-16",
        "value": 37
    }, {
        "date": "2012-10-17",
        "value": 44
    }, {
        "date": "2012-10-18",
        "value": 49
    }, {
        "date": "2012-10-19",
        "value": 53
    }, {
        "date": "2012-10-20",
        "value": 57
    }, {
        "date": "2012-10-21",
        "value": 60
    }, {
        "date": "2012-10-22",
        "value": 61
    }, {
        "date": "2012-10-23",
        "value": 69
    }, {
        "date": "2012-10-24",
        "value": 67
    }, {
        "date": "2012-10-25",
        "value": 72
    }, {
        "date": "2012-10-26",
        "value": 77
    }, {
        "date": "2012-10-27",
        "value": 75
    }, {
        "date": "2012-10-28",
        "value": 70
    }, {
        "date": "2012-10-29",
        "value": 72
    }, {
        "date": "2012-10-30",
        "value": 70
    }, {
        "date": "2012-10-31",
        "value": 72
    }, {
        "date": "2012-11-01",
        "value": 73
    }, {
        "date": "2012-11-02",
        "value": 67
    }, {
        "date": "2012-11-03",
        "value": 68
    }, {
        "date": "2012-11-04",
        "value": 65
    }, {
        "date": "2012-11-05",
        "value": 71
    }, {
        "date": "2012-11-06",
        "value": 75
    }, {
        "date": "2012-11-07",
        "value": 74
    }, {
        "date": "2012-11-08",
        "value": 71
    }, {
        "date": "2012-11-09",
        "value": 76
    }, {
        "date": "2012-11-10",
        "value": 77
    }, {
        "date": "2012-11-11",
        "value": 81
    }, {
        "date": "2012-11-12",
        "value": 83
    }, {
        "date": "2012-11-13",
        "value": 80
    }, {
        "date": "2012-11-14",
        "value": 81
    }, {
        "date": "2012-11-15",
        "value": 87
    }, {
        "date": "2012-11-16",
        "value": 82
    }, {
        "date": "2012-11-17",
        "value": 86
    }, {
        "date": "2012-11-18",
        "value": 80
    }, {
        "date": "2012-11-19",
        "value": 87
    }, {
        "date": "2012-11-20",
        "value": 83
    }, {
        "date": "2012-11-21",
        "value": 85
    }, {
        "date": "2012-11-22",
        "value": 84
    }, {
        "date": "2012-11-23",
        "value": 82
    }, {
        "date": "2012-11-24",
        "value": 73
    }, {
        "date": "2012-11-25",
        "value": 71
    }, {
        "date": "2012-11-26",
        "value": 75
    }, {
        "date": "2012-11-27",
        "value": 79
    }, {
        "date": "2012-11-28",
        "value": 70
    }, {
        "date": "2012-11-29",
        "value": 73
    }, {
        "date": "2012-11-30",
        "value": 61
    }, {
        "date": "2012-12-01",
        "value": 62
    }, {
        "date": "2012-12-02",
        "value": 66
    }, {
        "date": "2012-12-03",
        "value": 65
    }, {
        "date": "2012-12-04",
        "value": 73
    }, {
        "date": "2012-12-05",
        "value": 79
    }, {
        "date": "2012-12-06",
        "value": 78
    }, {
        "date": "2012-12-07",
        "value": 78
    }, {
        "date": "2012-12-08",
        "value": 78
    }, {
        "date": "2012-12-09",
        "value": 74
    }, {
        "date": "2012-12-10",
        "value": 73
    }, {
        "date": "2012-12-11",
        "value": 75
    }, {
        "date": "2012-12-12",
        "value": 70
    }, {
        "date": "2012-12-13",
        "value": 77
    }, {
        "date": "2012-12-14",
        "value": 67
    }, {
        "date": "2012-12-15",
        "value": 62
    }, {
        "date": "2012-12-16",
        "value": 64
    }, {
        "date": "2012-12-17",
        "value": 61
    }, {
        "date": "2012-12-18",
        "value": 59
    }, {
        "date": "2012-12-19",
        "value": 53
    }, {
        "date": "2012-12-20",
        "value": 54
    }, {
        "date": "2012-12-21",
        "value": 56
    }, {
        "date": "2012-12-22",
        "value": 59
    }, {
        "date": "2012-12-23",
        "value": 58
    }, {
        "date": "2012-12-24",
        "value": 55
    }, {
        "date": "2012-12-25",
        "value": 52
    }, {
        "date": "2012-12-26",
        "value": 54
    }, {
        "date": "2012-12-27",
        "value": 50
    }, {
        "date": "2012-12-28",
        "value": 50
    }, {
        "date": "2012-12-29",
        "value": 51
    }, {
        "date": "2012-12-30",
        "value": 52
    }, {
        "date": "2012-12-31",
        "value": 58
    }, {
        "date": "2013-01-01",
        "value": 60
    }, {
        "date": "2013-01-02",
        "value": 67
    }, {
        "date": "2013-01-03",
        "value": 64
    }, {
        "date": "2013-01-04",
        "value": 66
    }, {
        "date": "2013-01-05",
        "value": 60
    }, {
        "date": "2013-01-06",
        "value": 63
    }, {
        "date": "2013-01-07",
        "value": 61
    }, {
        "date": "2013-01-08",
        "value": 60
    }, {
        "date": "2013-01-09",
        "value": 65
    }, {
        "date": "2013-01-10",
        "value": 75
    }, {
        "date": "2013-01-11",
        "value": 77
    }, {
        "date": "2013-01-12",
        "value": 78
    }, {
        "date": "2013-01-13",
        "value": 70
    }, {
        "date": "2013-01-14",
        "value": 70
    }, {
        "date": "2013-01-15",
        "value": 73
    }, {
        "date": "2013-01-16",
        "value": 71
    }, {
        "date": "2013-01-17",
        "value": 74
    }, {
        "date": "2013-01-18",
        "value": 78
    }, {
        "date": "2013-01-19",
        "value": 85
    }, {
        "date": "2013-01-20",
        "value": 82
    }, {
        "date": "2013-01-21",
        "value": 83
    }, {
        "date": "2013-01-22",
        "value": 88
    }, {
        "date": "2013-01-23",
        "value": 85
    }, {
        "date": "2013-01-24",
        "value": 85
    }, {
        "date": "2013-01-25",
        "value": 80
    }, {
        "date": "2013-01-26",
        "value": 87
    }, {
        "date": "2013-01-27",
        "value": 84
    }, {
        "date": "2013-01-28",
        "value": 83
    }, {
        "date": "2013-01-29",
        "value": 84
    }, {
        "date": "2013-01-30",
        "value": 81
    }]
});

chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}
</script>

<!-- HTML -->
<div id="chartdiv"></div>	
                                        <div class="row-box height2">
                                            <div class="tab-content" style="height: 100%;">
</div>
                                        </div>
                                        <div class="row-header trn">new_order</div>
                                        <div class="row-box nav-header">
                                            <ul class="nav nav-tabs two columns" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#buy" aria-controls="buy" role="tab" data-toggle="tab" class="trn">buy</a>
                                                </li>
                                                <li role="presentation">
                                                    <a href="#sell" aria-controls="sell" role="tab" data-toggle="tab" class="trn">sell</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row-box padding">
                                            <input type="hidden" id="tokenAddr" value="<%= selectedToken.addr %>" />
                                            <input type="hidden" id="baseAddr" value="<%= selectedBase.addr %>" />
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="buy"></div>
                                                <div role="tabpanel" class="tab-pane" id="sell"></div>
                                            </div>
                                        </div>
                                        <div class="row-header trn">order_book</div>
                                        <div id="orderBook"></div>
                                        <div class="row-header">
                                            <span class="trn">trades</span>
                                        </div>
                                        <div id="trades"></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row-container">
                                        <div class="row-container">
                                            <div class="row-header trn">volume</div>
                                            <input id="myInput" onkeyup="myFunction()" placeholder="Ethereum tokens search ..." title="Type in a Token name" type="text">
                                            <div class="row-box table-header">
                                                <table class="table table-condensed table-borderless">
                                                    <tr>
                                                        <th class="trn">pair</th>
                                                        <th class="align-right"><span class="trn">bid</span></th>
                                                        <th class="trn align-right">daily</th>
                                                        <th class="align-right padding-right"><span class="trn">offer</span></th>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="volume"></div>
                                            <div class="row-header trn">balance</div>
                                            <div class="row-box nav-header">
                                                <ul class="nav nav-tabs three columns" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#deposit" aria-controls="deposit" role="tab" data-toggle="tab" class="trn">deposit</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#withdraw" aria-controls="withdraw" role="tab" data-toggle="tab" class="trn">withdraw</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#transfer" aria-controls="transfer" role="tab" data-toggle="tab" class="trn">transfer</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="row-box table-header">
                                                <table class="table table-condensed table-borderless">
                                                    <tr>
                                                        <th class="trn">token</th>
                                                        <th class="trn">wallet_balance</th>
                                                        <th class="trn">coinEstate_balance</th>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row-box height4">
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="deposit"></div>
                                                    <div role="tabpanel" class="tab-pane" id="withdraw"></div>
                                                    <div role="tabpanel" class="tab-pane" id="transfer"></div>
                                                </div>
                                            </div>
                                            <div class="row-header trn">my_transactions</div>
                                            <div class="row-box nav-header">
                                                <ul class="nav nav-tabs two columns" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#myTrades" aria-controls="myTrades" role="tab" data-toggle="tab" class="trn">trades</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#myOrders" aria-controls="myOrders" role="tab" data-toggle="tab" class="trn">orders</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="row-box">
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="myTrades"></div>
                                                    <div role="tabpanel" class="tab-pane" id="myOrders"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>.</p>
                            <p><!-- Styles --><style>#chartdiv {
    width: 97%;
    height: 500px;
}</style><!-- Resources --><script src="https://www.amcharts.com/lib/3/amcharts.js"></script><script src="https://www.amcharts.com/lib/3/serial.js"></script><script src="https://www.amcharts.com/lib/3/amstock.js"></script><script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script><link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" /><script src="https://www.amcharts.com/lib/3/themes/none.js"></script><!-- Chart code --><script>

  }AmCharts.makeChart( "chartdiv", {
  ...,
  "dataLoader": {
    "url": "data.json",
    "format": "json"
  }
} );
</script><!-- HTML --> <p>.</p><div class="col-md-4 col-sm-6">
                                    <h4><i class="fa fa-money" aria-hidden="true"></i><br><blockquote>
                                            <h4 spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="28" medium-editor-index="d633718b-8eb5-18ce-dead-663a6ffc3c3e" data-placeholder="Type your text" data-medium-focused="true"><b>Trade Ethereum and any $ETH token.. $SMDX</b></h4>
                                        </blockquote></h4>
                                    It is unlimited, you can trade any Ethereum based tokens here.
                                </div><p style="background-image: url('logo.jpg');"></p><h1></h1><p></p><div class="col-md-4 col-sm-6">
                                    <h4><i class="fa fa-globe" aria-hidden="true"></i><b> Ethereum exchange</b></h4>
                                    coinEstate is powered by Ethereum smart contract AS you interact with this page.
                                </div><div class="col-md-4 col-sm-6">
                                    <h4><b><i class="fa fa-shield" aria-hidden="true"></i> Censorship protection and no registration</b></h4>
                                    coinEstate has strong censorship protection due to its decentralized essence.
                                </div><div class="col-md-4 col-sm-6">
                                    <h4><i class="fa fa-search" aria-hidden="true"></i></h4>
                                    <b> Transparent with blockchain</b>
                                    Every single trade and transaction can be observed in 
                                    <a href="https://etherscan.io/address/0x7e8539d1e5cb91d63e46b8e188403b3f262a949b" target="_blank">Ethereum blockchain</a>.
                                </div><p class="text-justify bg-info show" data-toggle="popover">.<p>.</p></p><h4><i class="fa fa-heart-o" aria-hidden="true"></i><b> Smart contract powered</b></h4><p class="col-md-4 col-sm-6"><a target="_blank" href="https://etherscan.io/address/0x983293eb01740d9788bbdcfe3a29d1bf2fdfc47d"> <i class="fa fa-file-code-o" aria-hidden="true"> </i> coinEstate smart contract </a>is a heart of coinEstate, it is stored in blockchain.</p><p>.</p><!--   FOOTER START================== --> <footer class="footer"> 
                                    <!--   FOOTER START================== -->         
        <footer class="footer"> 
            <div class="container"> 
                <!-- Address -->                 
                <div class="modal fade" id="accountModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title trn">import_account</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="accountAddr" class="trn">address</label>
                                        <input type="text" class="form-control" id="accountAddr" placeholder="0x..." />
                                    </div>
                                    <div id="pkDiv">
                                        <div class="form-group">
                                            <label for="accountPk" class="trn">private_key</label>
                                            <input type="text" class="form-control" id="accountPk" placeholder="0x..." />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default trn" data-dismiss="modal">cancel</button>
                                <button type="button" class="btn btn-primary trn" id="accountSubmit">import_account</button>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Buy -->                 
                <div class="modal fade" id="buyCrossModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title trn">buy</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="buyCrossDesc" class="trn">order</label>
                                        <div id="buyCrossDesc"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="buyCrossAmount">
                                            <span class="trn">amount_to_buy</span> (
                                            <span class="buyCrossToken"></span>)
                                        </label>
                                        <input type="text" class="form-control trn" id="buyCrossAmount" placeholder="amount" />
                                    </div>
                                    <div class="form-group">
                                        <label for="buyCrossBaseAmount">
                                            <span class="buyCrossBase"></span>
                                        </label>
                                        <input type="text" class="form-control trn" id="buyCrossBaseAmount" placeholder="amount" />
                                    </div>
                                    <div class="form-group">
                                        <label for="buyCrossFee">
                                            <span class="trn">fee</span> (
                                            <span class="buyCrossBase"></span>)
                                        </label>
                                        <input type="text" class="form-control trn" id="buyCrossFee" disabled="disabled" />
                                    </div>
                                </form>
                            </div>
                            <input type="hidden" id="buyCrossOrder" />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary trn" id="buyCrossSubmit">buy</button>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Sell -->                 
                <div class="modal fade" id="sellCrossModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title trn">sell</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="sellCrossDesc" class="trn">order</label>
                                        <div id="sellCrossDesc"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sellCrossAmount">
                                            <span class="trn">amount_to_sell</span> (
                                            <span class="sellCrossToken"></span>)
                                        </label>
                                        <input type="text" class="form-control trn" id="sellCrossAmount" placeholder="amount" />
                                    </div>
                                    <div class="form-group">
                                        <label for="sellCrossBaseAmount">
                                            <span class="sellCrossBase"></span>
                                        </label>
                                        <input type="text" class="form-control trn" id="sellCrossBaseAmount" placeholder="amount" />
                                    </div>
                                    <div class="form-group">
                                        <label for="sellCrossFee">
                                            <span class="trn">fee</span> (
                                            <span class="sellCrossToken"></span>)
                                        </label>
                                        <input type="text" class="form-control trn" id="sellCrossFee" disabled="disabled" />
                                    </div>
                                </form>
                            </div>
                            <input type="hidden" id="sellCrossOrder" />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary trn" id="sellCrossSubmit">sell</button>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Other token -->                 
                <div class="modal fade" id="otherTokenModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title trn">other_token</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="otherTokenAddr" class="trn">address</label>
                                        <input type="text" class="form-control" id="otherTokenAddr" placeholder="0x..." />
                                    </div>
                                    <div class="form-group">
                                        <label for="otherTokenName" class="trn">name</label>
                                        <input type="text" class="form-control" id="otherTokenName" placeholder="XYZ" />
                                    </div>
                                    <div class="form-group">
                                        <label for="otherTokenDecimals" class="trn">decimals</label>
                                        <input type="text" class="form-control" id="otherTokenDecimals" value="18" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default trn" data-dismiss="modal">cancel</button>
                                <button type="button" class="btn btn-primary trn" id="otherTokenSubmit">go</button>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Other base -->                 
                <div class="modal fade" id="otherBaseModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title trn">other_base</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="otherBaseAddr" class="trn">address</label>
                                        <input type="text" class="form-control" id="otherBaseAddr" placeholder="0x..." />
                                    </div>
                                    <div class="form-group">
                                        <label for="otherBaseName" class="trn">name</label>
                                        <input type="text" class="form-control" id="otherBaseName" placeholder="XYZ" />
                                    </div>
                                    <div class="form-group">
                                        <label for="otherBaseDecimals" class="trn">decimals</label>
                                        <input type="text" class="form-control" id="otherBaseDecimals" value="18" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default trn" data-dismiss="modal">cancel</button>
                                <button type="button" class="btn btn-primary trn" id="otherBaseSubmit">go</button>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Token -->                 
                <div class="modal fade" id="tokenModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"> <div id="tokenGuideTitle"></div> </h4>
                            </div>
                            <div class="modal-body">
                                <div id="tokenGuideDetails"></div>
                                <div id="tokenGuideBody"></div>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Help -->                 
                <div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="helpBody"></div>
                            </div>
                        </div>
                    </div>
                </div>                 
                <!-- Screencast -->                 
                <div class="modal fade" id="screencastModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog large" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="screencastBody"></div>
                            </div>
                        </div>
                    </div>
                </div>                 
                <img alt="coinEstate" src="https://img.shields.io/badge/coinEstate%20Approved%20url%3A-https%3A%2F%2Fcoinestate.somidax.net%2F-green.svg" bookmark it once and use the bookmark. < p> 
                <div class="row text-center" style="background-color: #4ccd14;">© 2018 coinEstate .   An Ethereum token community marketplace exchange for everyone.     
                    <p>&nbsp;<a href="https://marketplace.somidax.net//" target="_blank">MARKETPLACE</a> | <a href="https://tradewallet.somidax.net/" target="_blank">TRADEWALLET</a> | <a href="https://media-app.somidax.net/" target="_blank">MEDIA-APP</a> | <a href="https://www.somidax.net//" target="_blank">SOMIDAX FOUNDATION</a></p>
                    <img alt="Join us on Reddit" src="https://img.shields.io/badge/reddit-somidax-red.svg">
                    <img alt="Chat on somidax Media-App" src="https://img.shields.io/badge/chat%20on-somidax%20Media--App-brightgreen.svg">
                </div>                 
            </div>
        </footer>         
        <script>
         function myFunction() {
           var input, filter, table, tr, td, i;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("volume");
           tr = table.getElementsByTagName("tr");
           for (i = 0; i < tr.length; i++) {
             td = tr[i].getElementsByTagName("td")[0];
             if (td) {
               if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                 tr[i].style.display = "";
               } else {
                 tr[i].style.display = "none";
               }
             }
           }
         }
    <div id="buyTrade"></div>
    <div id="sellTrade"></div>
    <div id="importAccount"></div>
    <div id="otherToken"></div>
    <div id="gasPrice"></div>
    <div id="tokenGuide"></div>
    <div id="screencast"></div>
    <div id="ledger"></div>        
      </script> <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <script type="text/javascript">
                    google.charts.load('current', {packages: ['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    ...
                    </script><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
   </script>   <script src="/js/jquery.translate.js"></script> <script src="/js/bootstrap.min.js"></script> <script src="/js/alertify.min.js"></script> <script src="/js/ejs_production.js"></script> <script src="/js/bundle.js"></script> <script src="/scripts/script.js"></script> <script src="/js/jquery-3.3.1.min.js"></scri>
                    <script src="/js/bootstrap.min.js"></script> <script src="/js/alertify.min.js"></script> <script src="/js/ejs_production.js"></script> <script src="/js/chrome-u2f-api.js"></script> <script src="/js/ledger.min.js"></script> <script src="/js/main.js"></script> <script src="amcharts/plugins/dataloader/dataloader.min.js" type="text/javascript"></script><script src="/about/public/datafeeds/udf/dist/polyfills.js"></script> <script src="/about/public/datafeeds/udf/dist/bundle.js"></script> <script charset="utf-8" src="/https://media-app.somidax.net/somidaxApp-cc/js.php"></script> <link type="text/css" rel="stylesheet" media="all" href="https://media-app.somidax.net/somidaxApp-cc/css.php"> <script>
                     </div>                             
                        
            <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-109254084-1', 'auto');
         ga('send', 'pageview');
      </script> <script>
    $(function() {
    $('[data-toggle="popover"]').popover();
})
</script>
    </body>
</html>
